<vl-modal [id]="id">
  <h3>Please, provide your email address to reset your password.</h3>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <!-- Email form field -->
    <vl-form-field>
      <vl-input type="email" placeholder="Enter your email" formControlName="email"></vl-input>
    </vl-form-field>
    <!-- Form actions -->
    <div class="actions">
      <vl-button fullWidth (click)="cancelClicked.emit()">Cancel</vl-button>
      <vl-button type="submit" color="primary" [disabled]="form.invalid" fullWidth>Send Request</vl-button>
    </div>
  </form>
</vl-modal>
