<div *ngFor="let goal of goals" class="goal-card" [class.achieved]="goal.achieved" (click)="goalClicked.emit(goal)">
  <i
    class="material-icons"
    (click)="$event.stopPropagation(); goalAchieveBoxClicked.emit(goal)"
    [innerHTML]="goal.achieved ? 'check_circle_outline' : 'radio_button_unchecked'"
  >
  </i>
  <span class="vertical-divider"></span>
  <span class="goal-title">{{ goal.title }}</span>
</div>
<span *ngIf="goals?.length === 0">
  No goals yet, create one and crsh it ! 💪
</span>
