@import '~@angular/material/theming';

.mat-list-item {
  margin: 1em 0;
}

.mat-card {
  width: 100%;
  overflow: auto;
  font-size: 0.9rem;
  cursor: pointer;
}

.mat-card.achieved {
  animation: achieved;
  animation-duration: 1s;
  background-color: mat-color(mat-palette($mat-pink));
  opacity: 0.7;
  font-weight: bold;
}

.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}

.mat-list-item-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

@keyframes achieved {
  from {
    background-color: #424242;
    opacity: 1;
    font-weight: normal;
  }
  to {
    background-color: mat-color(mat-palette($mat-pink));
    opacity: 0.7;
    font-weight: bold;
  }
}
