<div class="background-shape top-right"></div>
<div class="background-shape bottom-left"></div>
<div class="container">
  <div></div>
  <form [formGroup]="form" (ngSubmit)="signIn()">
    <h1>Login</h1>
    <!-- Email -->
    <vl-form-field>
      <vl-input type="email" placeholder="Email" formControlName="email" required></vl-input>
    </vl-form-field>
    <!-- Password -->
    <vl-form-field>
      <vl-input type="password" placeholder="Password" formControlName="password" required></vl-input>
    </vl-form-field>
    <p>Forgot password ?</p>

    <!-- Submit -->
    <div class="submit-wrapper">
      <vl-button *ngIf="!isLoading" type="submit" color="primary" [disabled]="!form.valid" fullWidth>Login</vl-button>
      <vl-loader *ngIf="isLoading"></vl-loader>
    </div>

    <p>or</p>

    <!-- Social media -->
    <section class="social-media">
      <div class="google-btn" (click)="signInWithGoogle()">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
      </div>
    </section>
  </form>

  <!-- Sign Up -->
  <p class="sign-up">Don't have an account ? <a routerLink="/register">SIGN UP !</a></p>
</div>
