div.container {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

mat-card {
  max-width: 500px;
  flex-grow: 1;
  padding: 2em;

  mat-card-title {
    margin-top: 1em;
  }
}

.full-width {
  width: 100%;
}

.form-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[type='submit'] {
  margin-top: 0.5rem;
}

@media screen and (max-width: 640px) {
  div.container {
    height: 100%;
    padding: 0;
  }
}
