<div *ngIf="goal" class="wrapper">
  <h3 class="goal-type">{{ goal.type }}</h3>
  <span class="goal-title">{{ goal.title }}</span>
  <p *ngIf="goal.description; else noDesc" class="goal-description">{{ goal.description }}</p>
  <ng-template #noDesc>
    <p class="goal-description">No description yet.</p>
  </ng-template>

  <div class="actions">
    <vl-button color="primary" (click)="editClicked.emit()">Edit</vl-button>
    <vl-button color="danger" (click)="deleteClicked.emit()">Delete</vl-button>
  </div>
</div>
