<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container (backdropClick)="sidenavService.toggle()">
    <mat-sidenav
      [opened]="sidenavService.toggled$ | async"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      role="navigation"
    >
      <mat-nav-list>
        <!-- Dashboard -->
        <mat-list-item routerLink="dashboard" routerLinkActive="active">
          <a matLine>Dashboard</a>
          <button mat-icon-button><mat-icon>dashboard</mat-icon></button>
        </mat-list-item>
        <!-- Daily -->
        <mat-list-item routerLink="daily" routerLinkActive="active">
          <a matLine>Daily Goals</a>
          <button mat-icon-button><mat-icon>today</mat-icon></button>
        </mat-list-item>
        <!-- Weekly -->
        <mat-list-item routerLink="weekly" routerLinkActive="active">
          <a matLine>Weekly Goals</a>
          <button mat-icon-button><mat-icon>date_range</mat-icon></button>
        </mat-list-item>
        <!-- Lifelong -->
        <mat-list-item routerLink="lifelong" routerLinkActive="active">
          <a matLine>Lifelong Goals</a>
          <button mat-icon-button><mat-icon>whatshot</mat-icon></button>
        </mat-list-item>
        <!-- Calendars -->
        <mat-list-item routerLink="calendars" routerLinkActive="active">
          <a matLine>Calendars</a>
          <button mat-icon-button><mat-icon>calendar_today </mat-icon></button>
        </mat-list-item>
        <!-- Profile -->
        <mat-list-item routerLink="profile" routerLinkActive="active">
          <a matLine>Profile</a>
          <button mat-icon-button><mat-icon>person</mat-icon></button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content role="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
