<div class="container-layout" *ngIf="user">
  <div class="background-shape"></div>

  <div class="profile-layout">
    <img [src]="user.photoURL || 'assets/blank-avatar.png'" alt="" />
    <h1>{{ user.displayName || 'Hello Stranger !' }}</h1>

    <vl-card>
      <div content>
        <span class="card-line"> <i class="material-icons">mail_outline</i> {{ user.email }}</span>
      </div>
    </vl-card>
    <vl-card>
      <div content>
        <span class="card-line"> <i class="material-icons">phone</i> {{ user.phoneNumber || 'Unknown' }}</span>
      </div>
    </vl-card>
    <!--    <vl-button (click)="logout()" class="logout-btn" fullWidth>Log Out</vl-button>-->
  </div>
</div>
