<div class="vl-select">
  <div class="select-selected" (click)="showItems = !showItems" [class.expended]="showItems">
    <span *ngIf="value; else novalue">{{ itemSelected?.name }}</span>
    <ng-template #novalue>
      <span>{{ placeholder }}</span>
    </ng-template>
  </div>

  <div class="select-items" [class.select-hide]="!showItems">
    <div *ngFor="let item of items" [class.same-as-selected]="item.value === value" (click)="selectItem(item)">
      {{ item.name }}
    </div>
  </div>
</div>
