version: 2.1
orbs:
  node: circleci/node@4.1.0
jobs:
  build:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages
      - run: npm run build --prod
  quality:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages
      - run: npm run lint
      
workflows:
  version: 2
  my-workflow:
    jobs:
      - build
      - quality
