<div class="toolbar">
  <!-- Goals summary -->
  <div class="summary">
    <i class="material-icons">check_circle_outline</i>
    <span>{{ achievedGoalsCount$ | async }} / {{ goalsCount$ | async }}</span>
    <ng-template [ngIf]="hoursLeft">
      <i class="material-icons">hourglass_empty</i>
      <span>{{ hoursLeft | timeLeft }} left</span>
    </ng-template>
  </div>

  <!-- Create goal button -->
  <vl-button color="primary" icon (click)="goalSelected = null; openModal('goal-form-modal-' + goalType)">
    <i class="material-icons">add</i>
  </vl-button>
</div>
<!-- toolbar -->
<!-- Goal list -->
<vl-goal-list
  [goals]="goals$ | async"
  (goalAchieveBoxClicked)="handleGoalAchieveBoxClicked($event)"
  (goalClicked)="handleGoalClicked($event)"
></vl-goal-list>

<!-- Modals -->
<!-- Goal detail modal -->
<vl-modal [id]="'goal-detail-modal-' + goalType">
  <vl-goal-detail
    [goal]="goalSelected"
    (editClicked)="handleGoalDetailEditClicked()"
    (deleteClicked)="handleGoalDetailDeleteClicked()"
  ></vl-goal-detail>
</vl-modal>
<!-- Goal form modal -->
<vl-modal [id]="'goal-form-modal-' + goalType">
  <vl-goal-form
    [goal]="goalSelected"
    (formSubmitted)="handleGoalFormSubmitted($event)"
    (cancelBtnClicked)="closeModal('goal-form-modal-' + goalType)"
  ></vl-goal-form>
</vl-modal>
<!-- Confirm delete goal modal -->
<vl-confirm-modal
  id="goal-deletion-confirm-modal"
  [text]="'Are you sure you wanna delete ' + goalSelected?.title + ' ?'"
  (confirmed)="onConfirmDeleteGoal()"
  (canceled)="onCancelDeleteGoal()"
>
</vl-confirm-modal>
