<div class="goals-container-layout container-layout">
  <div class="goals-summary">
    <div class="goals-summary-count">
      <i class="material-icons">check_circle_outline</i> <span>{{ achievedGoalsCount }} / {{ goals.length }}</span>
    </div>
    <div class="goals-summary-timeleft">
      <span>{{ hoursLeft | timeLeft }} left</span>
      <i class="material-icons">hourglass_empty</i>
    </div>
  </div>
  <vl-goal-list
    [goals]="goals"
    (goalAchieveBoxClicked)="handleGoalAchieveBoxClicked($event)"
    (goalClicked)="handleGoalClicked($event)"
  ></vl-goal-list>
  <vl-modal id="goal-detail-modal">
    <vl-goal-detail [goal]="goalSelected" (deleteClicked)="handleGoalDetailDeleteClicked()"></vl-goal-detail>
  </vl-modal>
</div>
