.goals-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-secondary);
}
.goals-summary-count,
.goals-summary-timeleft {
  display: flex;
  align-items: center;
}
.goals-summary-count .material-icons {
  margin-right: 0.5rem;
}
.goals-summary-timeleft .material-icons {
  margin-left: 0.5rem;
}
