.goals-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-secondary);
}

.goals-summary {
  display: flex;
  align-items: center;

  i.material-icons {
    margin-right: 0.25rem;
  }
  span {
    margin-right: 1rem;
  }
}
