<div class="goals-container-layout container-layout">
  <div class="goals-summary">
    <div class="goals-summary-count">
      <i class="material-icons">check_circle_outline</i> <span>{{ achievedGoalsCount }} / {{ goals.length }}</span>
    </div>
    <div class="goals-summary-timeleft">
      <span>{{ hoursLeft | timeLeft }} left</span>
      <i class="material-icons">hourglass_empty</i>
    </div>
  </div>
  <vl-goal-list
    [goals]="goals"
    (goalClicked)="handleGoalClicked($event)"
    (goalDetailClicked)="handleGoalDetailClicked($event)"
  ></vl-goal-list>
</div>
