<div class="goal-tabs-container" (swiperight)="swipe($event)" (swipeleft)="swipe($event)">
  <div class="background-shape"></div>
  <div class="tabs">
    <div class="tab-item" routerLink="daily" routerLinkActive="active">Daily</div>
    <div class="tab-item" routerLink="weekly" routerLinkActive="active">Weekly</div>
    <div class="tab-item" routerLink="lifelong" routerLinkActive="active">Lifelong</div>
  </div>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
