.goal-tabs-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.background-shape {
  position: absolute;
  bottom: 4rem;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 300px;
  background-color: var(--primary-color);
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--bg-secondary);

  .tab-item {
    display: grid;
    place-items: center;
    width: 30%;
    height: 80%;
    color: var(--text-secondary);
    text-transform: uppercase;
    &.active {
      color: var(--text-primary);
      border-bottom: 3px solid var(--primary-color);
    }
    &:focus {
      outline: none;
    }
  }
}
