vl-card {
  margin: 1rem 0;
  &.achieved {
    .material-icons {
      color: var(--primary-color);
    }
  }
}
.card-content {
  display: grid;
  grid-template-columns: 15% 5% 80%;
  align-items: center;
  height: 3rem;
}

.material-icons {
  font-size: 2rem;
  justify-self: flex-start;
}

.vertical-divider {
  justify-self: flex-start;
  height: 75%;
  border-right: 1px solid var(--text-secondary);
}
