form {
  display: flex;
  flex-direction: column;
}

.avatar-preview {
  position: relative;
  align-self: center;
  height: 250px;
  width: 250px;
  margin: 1rem 0;
  box-shadow: 0 3px 3px 0 rgba(33, 33, 33, 1);
  border-radius: 125px;
}
.progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1rem;

  background: var(--bg-secondary);
  border-radius: 100px;

  height: 20px;
  width: auto;
  padding: 0 5px;
}
.progress-value {
  background-color: var(--primary-color);
  border-radius: 100px;
  height: 10px;
  width: 0;
}

vl-button {
  margin-top: 1rem;
}
