.background-shape {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 225px;

  background-color: var(--primary-color);

  z-index: -1;
}

.settings-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;

  color: var(--text-primary);
  font-size: 2rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

vl-card.main-card {
  position: relative;
  margin-top: 7rem;

  .main-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 50px 50px;
    place-items: center;

    img {
      position: absolute;
      top: -62.5px;
      left: calc(50% - 62.5px);

      width: 125px;
      height: auto;

      box-shadow: 0 3px 3px 0 rgba(33, 33, 33, 1);
      border-radius: 75px;
    }

    span.display-name {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;

      align-self: flex-start;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .goals-summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      strong.goals-summary-count {
        font-size: 1.2rem;
      }
    }
  } /* main-card-content */
} /* main-card */

h3 {
  color: var(--text-secondary);
}

vl-card {
  margin-bottom: 1rem;
}

.card-line {
  display: flex;
  align-items: center;

  i.material-icons {
    margin-right: 1rem;
  }
}
