@import '~@angular/material/theming';

h1.app-name {
  margin-left: 8px;
}

.dashboard-layout {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.completed {
  color: mat-color(mat-palette($mat-pink));
}

.flex-space-between {
  display: flex !important;
  justify-content: space-between;
}

.mat-card {
  position: relative;
  width: 90%;
  overflow: hidden;
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    top: -25px;
    left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: mat-color(mat-palette($mat-pink));
    z-index: -1;
    transition: transform 0.5s ease-in-out;
  }
  &:hover:before {
    //transform: scale(20);
  }
}

.summary-list > .mat-list-item {
  cursor: pointer;
}

.summary-list > .mat-list-item:hover span {
  text-decoration: underline;
}

.mat-list-item span {
  font-size: 0.9rem;
  &:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 800px) {
  .dashboard-layout {
    grid-template-columns: 1fr;
    gap: 1.5em;
  }

  .mat-card {
    padding: 16px 8px;
  }

  .mat-list-item {
    height: 2.5em !important;
  }
}
