<div class="dashboard-layout">
  <div class="background-shape"></div>

  <h1 class="dashboard-title">Dashboard</h1>

  <!-- Summary -->
  <vl-card>
    <div title>Summary</div>
    <div content>
      <div class="card-line">
        <span>Daily</span>
        <span>{{ getGoalsAchievedCountByType('daily') }} / {{ getGoalsCountByType('daily') }}</span>
      </div>
      <div class="card-line">
        <span>Weekly</span>
        <span>{{ getGoalsAchievedCountByType('weekly') }} / {{ getGoalsCountByType('weekly') }}</span>
      </div>
      <div class="card-line">
        <span>Lifelong</span>
        <span>{{ getGoalsAchievedCountByType('lifelong') }} / {{ getGoalsCountByType('lifelong') }}</span>
      </div>
    </div>
  </vl-card>

  <!-- Last Achieved -->
  <vl-card>
    <div title>Last Achieved</div>
    <div content>
      <div class="card-line" *ngFor="let goal of getLastGoalsAchieved()">
        <span>{{ goal.title }} </span
        ><span>{{ goal.achievedAt | date: (momentService.isToday(goal.achievedAt) ? 'shortTime' : 'shortDate') }}</span>
      </div>
    </div>
  </vl-card>

  <!-- Last Created -->
  <vl-card>
    <div title>Last Created</div>
    <div content>
      <div class="card-line" *ngFor="let goal of getLastCreatedGoals()">
        <span>{{ goal.title }} </span>
        <span> {{ goal.createdAt | date: 'shortDate' }} </span>
      </div>
    </div>
  </vl-card>
</div>
