<div class="dashboard-container">
  <div class="background-shape"></div>

  <h1 class="title">Dashboard</h1>

  <!-- Summary -->
  <vl-card>
    <div title>Summary</div>
    <div content>
      <div class="card-line" *ngFor="let goalSummary of goalSummaries$ | async" [class.done]="goalSummary.done">
        <span class="underline capitalize" [routerLink]="'/goals/' + goalSummary.type">{{ goalSummary.type }}</span>
        <span> {{ goalSummary.achieved }} / {{ goalSummary.count }} </span>
      </div>
    </div>
  </vl-card>

  <!-- Last Achieved -->
  <vl-card>
    <div title>Last Achieved</div>
    <div content>
      <div class="card-line" *ngFor="let goal of lastGoalsAchieved$ | async">
        <span>{{ goal.title }} </span
        ><span>{{ goal.achievedAt | date: (momentService.isToday(goal.achievedAt) ? 'shortTime' : 'shortDate') }}</span>
      </div>
      <span *ngIf="(lastGoalsAchieved$ | async).length === 0">
        You don't have achieved goal yet. 🤔
      </span>
    </div>
  </vl-card>

  <!-- Last Created -->
  <vl-card>
    <div title>Last Created</div>
    <div content>
      <div class="card-line" *ngFor="let goal of lastGoalsCreated$ | async">
        <span>{{ goal.title }} </span>
        <span> {{ goal.createdAt | date: 'shortDate' }} </span>
      </div>
      <span *ngIf="(lastGoalsCreated$ | async).length === 0">
        You don't have created goal yet. 😥
      </span>
    </div>
  </vl-card>
</div>
