.calendar-container {
  display: flex;
  flex-direction: column;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 1rem;
  span.calendar-header-title {
    width: 150px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    span.calendar-header-title-month {
      color: var(--text-primary);
      font-size: 1.2rem;
    }
    span.calendar-header-title-year {
      font-size: 0.8rem;
    }
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
}

.calendar-day {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;

  &:not(.calendar-day-header) {
    border-radius: 100%;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    .calendar-day-number {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      box-sizing: content-box;

      display: grid;
      place-items: center;

      font-weight: lighter;
    }
  }
  &.calendar-day-header {
    padding: 0.5em 0;
    color: #b0bec5;
  }
  &.calendar-day-today {
    z-index: 2;
    border: 1px solid #fafafa;
  }
  &.highlight {
    background-color: var(--primary-color);
    color: var(--text-primary);
    font-weight: bold;
  }
  &.disabled {
    opacity: 0.5;
  }
}
