<div class="calendars-container-layout">
  <div class="background-shape"></div>

  <h1 class="calendar-title">Calendar</h1>
  <vl-card>
    <div title>
      Select a goal
    </div>
    <div content>
      <p>You'll get a calendar view to see when you've achieved your goal 🗓.</p>
      <vl-select
        style="margin-bottom: 0.5rem;"
        [(value)]="goalTypeSelected"
        (valueChange)="goalType$.next($event)"
        [items]="[
          { name: 'Daily', value: 'daily' },
          { name: 'Weekly', value: 'weekly' }
        ]"
      ></vl-select>
      <vl-select
        placeholder="Select a goal"
        [(value)]="goalSelected"
        (valueChange)="handleGoalSelected()"
        [items]="selectableGoalsItems$ | async"
      ></vl-select>
    </div>
  </vl-card>
</div>

<!-- Calendar modal -->
<vl-modal id="calendar-modal">
  <vl-calendar
    [highlightDates]="highlightDates"
    [title]="goalSelected?.title"
    (dateClicked)="handleDateClicked($event)"
  ></vl-calendar>
</vl-modal>

<!-- Confirm Achieve goal modal -->
<vl-confirm-modal
  id="achieve-goal-confirm-modal"
  [text]="achieveGoalModalText"
  [confirmText]="achieveGoalModalConfirmText"
  (confirmed)="achieveSeletedGoalAtSelectedDate()"
  (canceled)="modalService.close('achieve-goal-confirm-modal'); modalService.open('calendar-modal')"
  (closed)="modalService.open('calendar-modal')"
>
</vl-confirm-modal>
<!-- Confirm Unachieve goal modal -->
<vl-confirm-modal
  id="unachieve-goal-confirm-modal"
  [text]="unachieveGoalModalText"
  [confirmText]="unachieveGoalModalConfirmText"
  (confirmed)="unachieveSeletedGoalAtSelectedDate()"
  (canceled)="modalService.close('unachieve-goal-confirm-modal'); modalService.open('calendar-modal')"
  (closed)="modalService.open('calendar-modal')"
>
</vl-confirm-modal>
