<div class="calendars-container-layout container-layout">
  <div class="background-shape"></div>

  <h1 class="calendar-title">Calendar</h1>
  <vl-card>
    <div title>
      Select a goal
    </div>
    <div content>
      <div style="margin-bottom: 0.5rem;">
        <vl-select
          [(value)]="goalTypeSelected"
          (valueChange)="goalType$.next($event)"
          [items]="[
            { name: 'Daily', value: 'daily' },
            { name: 'Weekly', value: 'weekly' }
          ]"
        ></vl-select>
      </div>
      <div>
        <vl-select
          placeholder="Select a goal"
          [(value)]="goalSelected"
          (valueChange)="handleGoalSelected()"
          [items]="selectableGoalsItems"
        ></vl-select>
      </div>
    </div>
  </vl-card>
</div>

<vl-modal id="calendar-modal">
  <vl-calendar [highlightDates]="highlightDates" (dateClicked)="handleDateClicked($event)"></vl-calendar>
</vl-modal>
