<div class="calendar-layout">
  <!-- Calendar Header -->
  <div class="calendar-header">
    <vl-button icon (click)="switchMonth$.next('Previous')">
      <i class="material-icons">keyboard_arrow_left</i>
    </vl-button>
    <!-- Current Month and Year -->
    <span class="calendar-header-title">
      <span class="calendar-header-title-month">{{ currentMonth }}</span>
      <br />
      <span class="calendar-header-title-year">{{ currentYear }}</span>
    </span>
    <!-- Next month Button -->
    <vl-button icon (click)="switchMonth$.next('Next')">
      <i class="material-icons">keyboard_arrow_right</i>
    </vl-button>
  </div>
  <!-- calendar-header -->

  <!-- Calendar -->
  <div class="calendar-grid">
    <!-- Day titles -->
    <div *ngFor="let day of ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']" class="calendar-day calendar-day-header">
      {{ day }}
    </div>
    <!-- Days -->
    <div
      *ngFor="let calendarDay of calendarDays"
      class="calendar-day"
      (click)="onCalendarDayClicked(calendarDay)"
      [class.highlight]="calendarDay.color"
      [class.calendar-day-today]="isToday(calendarDay)"
      [class.calendar-day-out]="calendarDay.isOutOfMonth"
      [class.disabled]="isAfterToday(calendarDay)"
    >
      <div class="calendar-day-number">
        {{ calendarDay.dayNumber }}
      </div>
    </div>
  </div>
  <!-- calendar-grid -->
</div>
