<h3>Change your email</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- Email -->
  <vl-form-field>
    <vl-input placeholder="Email" type="email" formControlName="email" required></vl-input>
    <ng-container *ngIf="!emailFormControl.valid && (emailFormControl.dirty || emailFormControl.touched)">
      <span *ngIf="emailFormControl.hasError('required')">Email required.</span>
      <span *ngIf="emailFormControl.hasError('email')">Email must be in a valid format.</span>
      <span *ngIf="emailFormControl.hasError('forbiddenEmail')">New email can't be previous email.</span>
    </ng-container>
  </vl-form-field>

  <!-- Actions -->
  <vl-button type="submit" color="primary" [disabled]="!form.valid" fullWidth>Submit</vl-button>
</form>
