.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;

  height: 2rem;
  padding: 1rem;

  background-color: var(--bg-secondary);

  font-size: 1.2rem;

  i.material-icons {
    margin-right: 1rem;
  }
}

.settings-container {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  padding: 0.5rem 1rem;

  color: var(--text-primary);
}

h4 {
  color: var(--text-secondary);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

div.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0;
  min-height: 2rem;

  .settings-item-content {
    display: flex;
    flex-direction: column;
  }
  .settings-item-content-desc {
    color: var(--text-secondary);
    font-size: 0.9rem;
  }
  .appearance-desc {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
  }
}

i.material-icons.done-icon {
  color: var(--primary-color);
}

.primary-color-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
  padding-top: 0.5rem;
  .primary-color-preview {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid transparent;
    &.yellow {
      background-color: var(--yellow-orange);
    }
    &.violet {
      background-color: var(--electric-violet);
    }
    &.green {
      background-color: var(--emerald);
    }
    &.red {
      background-color: var(--brick-red);
    }
    &.blue {
      background-color: var(--iceberg);
    }
    &.selected {
      border-color: var(--text-primary);
      transform: scale(1.1);
    }
  }
}
